{% extends 'base.html.twig' %}

{% block title %}Market Administration{% endblock %}

{% block body %}

<h1>Bots</h1>
<table>
    <thead>
        <tr>
           <th>Id</th>
           <th>Type</th>
           <th>Frequency</th>
           <th>Args</th>
        </tr>
    </thead>
    <tbody>
    {% for bot in bots %}
        <tr>
            <td class='centered'>{{ bot.id }}</td>
            <td class='centered'>{{ bot.type.name }}</td>
            <td class='centered'>{{ bot.frequency }}</td>
            <td>{{ bot.args|json_encode }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
