<div id='offers' class='market'>
    <h1>Market</h1>
    <table hx-ext='sse'
        sse-connect='{{ mercure(['html-App\\Domain\\Market\\OfferCreatedEvent', 'json-App\\Domain\\Market\\OfferSoldEvent']) }}'
        sse-swap='json-App\Domain\Market\OfferSoldEvent'
        hx-swap='none'>
        <thead>
            <tr>
                <th class='product-name'>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody sse-swap='html-App\Domain\Market\OfferCreatedEvent' hx-swap='afterbegin'>
        {% for offer in market.offers %}
            {{ include('market/_offer.html.twig') }}
        {% endfor %}
        </tbody>
    </table>
</div>

{% block javascript %}
<script>
    document.buyCsrfToken = '{{ csrf_token('buy') }}';
    document.body.addEventListener('htmx:sseBeforeMessage', function (e) {
        const message = e.detail;
        if(message.type == 'json-App\\Domain\\Market\\OfferSoldEvent') {
            soldEvent = JSON.parse(message.data);
            const row = document.getElementById(`offer-${soldEvent.soldOffer}`)
            if(row)
                row.remove();
        }
    });
</script>
{% endblock %}
