<div id='trader' class='trader'
    hx-ext='sse'
    hx-swap='outerHTML'
    sse-connect='{{ mercure(['html-App\\Domain\\Market\\BalanceChangedEvent']) }}'>
    <div>
        <h1>Trader</h1>
        {{ include('market/_trader_balance.html.twig', variables: {balance: trader.balance}) }}
        <h2>Inventory</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th class='product-name'>Product</th>
                <th class='stocked'>Stocked</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody id='inventory'>
            {{ include('market/_trader_inventory.html.twig') }}
        </tbody>
    </table>
</div>
