{% extends 'base.html.twig' %}

{% block body %}

<body hx-headers='{"X-Trader-Id": "{{ trader.id }}"}'>
    {{ include('market/_trader.html.twig') }}
    {{ include('market/_offers.html.twig') }}
</body>

{% endblock %}
