{% extends 'base.html.twig' %}

{% block styles %}
    <link rel='stylesheet' href="{{ asset('styles/pages/market.scss') }}" />
{% endblock %}

{% block body %}

<div class='main'>
    {{ include('market/_trader.html.twig') }}
    {{ include('market/_offers.html.twig') }}
</div>

{% endblock %}
