$bg-color: slategray;
$text-color: aliceblue;
$main-color: darkslategray;

body {
    background-color: $bg-color;
    color: $text-color;
}

button {
    background-color: $main-color;
    color: $text-color;
    text-align: center;
    cursor: pointer;
    border: 3px solid $main-color;
    border-radius: 1px;
    outline-style: solid;
    outline-color: $text-color;
    outline-width: 1px;
    outline-offset: -2px;

    &:hover {
        animation: hover 100ms forwards;
    }

    @keyframes hover {
        100% {
            outline-color: $main-color
        }
    }
}
