.main {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.trader {
    display: flex;
    flex-direction: column;
}

.market {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

td {
    padding: 5px;
}

.centered {
    text-align: center;
}

.right-align {
    text-align: right;
}

.icon {
    height: 1em;
    position: absolute;
    padding: 5px 2px;
    color: #80A7A7;
}

td.product-name {
    padding-left: 10%;
}
