{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Log into your account</h1>
<form hx-post='/auth/_login'>
    <label for='email'>Email Address</label>
    <input type='text' name='email' />
    <label for='email'>Password</label>
    <input type='text' name='password' />
    <input type='submit' value='Create Account' />
</form>
{% endblock %}
